.section {
  background: #f3e5f5;
  padding: 20px;
}

.section h2 {
  text-align: center;
}
.pictureme {
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;



}

